.Header {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 60px;
}

.Header__link {
  align-self: center;
  height: 80%;
}

.Header__image {
  height: 100%;
}
