.HomeSubject {
  color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 0.5em;
  padding: 1em;
  display: flex;
  align-items: center;
  transition: all 0.2s linear;

  &__icon {
    font-size: 2em;
  }

  &__label {
    margin-left: 1em;
    flex-grow: 1;
  }
}
