.Navbar {
  position: relative;
  display: flex;
  align-items: center;
}

.Navbar ul {
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100px;
  top: 100%;
  right: 0;
  border: 1px solid var(--white);
  border-top: none;
  border-radius: 0 0 1em 1em;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.Navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: currentColor;
  width: 100%;
  padding: 1em 0;
  border-top: 1px solid var(--white);
}

.Navbar li:first-of-type a {
  border-top: none;
}

.Navbar a:hover {
  background-color: var(--black);
}

.Navbar button {
  color: var(--gray);
  background-color: transparent;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  outline: none;
}

.Navbar--active ul {
  display: block;
}

.Navbar--active button {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .Navbar ul {
    position: static;
    width: unset;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
    background-color: transparent;
  }

  .Navbar li {
    height: 100%;
    display: flex;
  }

  .Navbar a {
    border: none;
    padding: 0 1em;
    opacity: 0.5;
  }

  .Navbar a:hover {
    opacity: 1;
  }

  .Navbar button {
    display: none;
  }
}
