.Searchbox {
  position: relative;
  margin: 2em;
  flex-grow: 1;
  height: 32px;
  display: flex;

  &__input {
    position: relative;
    flex-grow: 1;
    display: flex;

    input {
      flex-grow: 1;
      padding: 0 1em;
    }

    button {
      position: absolute;
      right: 8px;
      top: 0;
      bottom: 0;
      background-color: transparent;
      border: none;
      outline: none;
      font-weight: bold;
      font-size: 1.2em;
      color: var(--gray);
      cursor: pointer;
    }
  }

  &__button {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--gray);
    outline: none;
  }

  &__results {
    position: absolute;
    text-align-last: left;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--light-gray);

    span {
      font-size: 0.8em;
      color: var(--gray);
    }
  }

  &__res {
    display: block;
    padding: 0 1em;
    border-bottom: 1px solid var(--light-gray);
  }
}
