.SubjectLink {
  position: relative;
  color: var(--first-color);
  text-align: center;
  border: 1px solid var(--first-color);
  border-radius: 0.5em;
  overflow: hidden;
}

.SubjectLink__front {
  padding: 1em;
}

.SubjectLink__icon {
  font-size: 6em;
}

.SubjectLink__name {
  font-size: 2em;
  margin-bottom: 0;
}

.SubjectLink__back {
  background: var(--white);
  padding: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
}

.SubjectLink:hover .SubjectLink__back {
  transform: translateY(0);
}

.SubjectLink__back a {
  border: 1px solid var(--first-color);
  border-radius: 0.5em;
  padding: 0.5em;
  transition: 0.25s ease-in-out;
}

.SubjectLink__back a:hover {
  transform: scale(1.25);
}
