.PostLink {
  color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 0.5em;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.1s linear;

  &__title {
    font-weight: bold;
  }

  &__icon {
    opacity: 0;
    transition: all 0.1s linear;
  }

  &:hover {
    border-color: var(--first-color);
    color: var(--first-color);
  }

  &:hover &__icon {
    opacity: 1;
  }
}
