.Page {
  display: grid;
  grid-template-columns: 48px 1fr;
  flex-grow: 1;
  grid-auto-rows: 100%;

  &__aside {
    text-align: center;
    border-right: 1px solid var(--gray);
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  }

  &__controls {
    font-weight: bold;
    border-bottom: 1px solid var(--gray);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__post-title {
    display: none;
    text-align: left;
  }

  &__icon {
    cursor: pointer;
  }

  &__tablist {
    list-style: none;
    padding: 1em 0;
    margin: 0;
  }

  &__tab {
    padding: 1em 0;
    display: flex;
    justify-content: center;

    a {
      width: 32px;
      height: 32px;
      background-color: var(--light-gray);
      color: var(--white);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--active a {
      background-color: var(--black);
    }
  }

  &__section {
    padding: 1em 2em;

    h1 {
      font-size: 2em;
    }
  }

  &--shown {
    grid-template-columns: 240px 1fr;
  }

  &--shown &__aside {
    text-align-last: left;
  }

  &--shown &__post-title {
    display: block;
  }

  &--shown &__tab {
    justify-content: start;
    padding: 1em;

    a {
      width: unset;
      height: unset;
      border-radius: 0;
      background-color: transparent;
      color: var(--black);
      text-align: left;
    }

    &--active a {
      font-weight: bold;
    }
  }
}
