.Post {
  &__hero {
    padding: 1em 2em;
  }

  &__path {
    font-size: 1.5em;

    code {
      font-weight: bold;
    }
  }

  &__subject {
    color: var(--gray);

    &:hover {
      color: var(--black);
      text-decoration: underline;
    }
  }
}
