@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
  --black: #212121;
  --white: white;
  --gray: gray;
  --light-gray: lightgray;
  --blue: #003ea2;
  --yellow: #cece00;
  --red: #bf0000;
  --green: #007730;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: currentColor;
  text-decoration: none;
}

code {
  font-family: 'Source Code Pro', monospace;
}

ul.normalized {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.text {
  &--red {
    color: var(--red);
  }

  &--blue {
    color: var(--blue);
  }

  &--yellow {
    color: var(--yellow);
  }

  &--green {
    color: var(--green);
  }
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
