@import 'globals';

body {
  margin: 0;
  font-family: $font-primary;
}

a {
  color: currentColor;
  text-decoration: none;
}

code {
  font-family: $font-code;
}

ul.reseted {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.text {
  &--red {
    color: $red;
  }

  &--blue {
    color: $blue;
  }

  &--yellow {
    color: $yellow;
  }

  &--green {
    color: $green;
  }
}
